{
  "openapi": "3.2.0",
  "jsonSchemaDialect": "https://spec.openapis.org/oas/3.1/dialect/base",
  "info": {
    "title": "Docker HUB API",
    "description": "Docker Hub is a service provided by Docker for finding and sharing container images with your team.\n\nIt is the world\u0027s largest library and community for container images.\n\nIn addition to the [Docker Hub UI](https://docs.docker.com/docker-hub/) and [Docker Hub CLI tool](https://github.com/docker/hub-tool#readme) (currently experimental), Docker provides an API that allows you to interact with Docker Hub.\n\nBrowse through the Docker Hub API documentation to explore the supported endpoints.\n",
    "version": "2-beta",
    "x-logo": {
      "url": "https://docs.docker.com/assets/images/logo-docker-main.png",
      "href": "/reference"
    }
  },
  "servers": [
    {
      "url": "https://hub.docker.com",
      "description": "Docker HUB API",
      "x-audience": "public"
    }
  ],
  "paths": {
    "/v2/users/login": {
      "post": {
        "tags": [
          "authentication-api"
        ],
        "summary": "Create an authentication token",
        "description": "Creates and returns a bearer token in JWT format that you can use to authenticate with Docker Hub APIs.\n\nThe returned token is used in the HTTP Authorization header like \u0060Authorization: Bearer {TOKEN}\u0060.\n\n_**As of September 16, 2024, this route requires a personal access token (PAT) instead of a password if your organization has SSO enforced.**_\n\n\n  Deprecated: Use [Create access token](#tag/authentication-api/operation/AuthCreateAccessToken) instead.\n\n",
        "operationId": "PostUsersLogin",
        "requestBody": {
          "description": "Login details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsersLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostUsersLoginSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed or second factor required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostUsersLoginErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": []
      }
    },
    "/v2/users/2fa-login": {
      "post": {
        "tags": [
          "authentication-api"
        ],
        "summary": "Second factor authentication",
        "description": "When a user has two-factor authentication (2FA) enabled, this is the second call to perform after \u0060/v2/users/login\u0060 call.\n\nCreates and returns a bearer token in JWT format that you can use to authenticate with Docker Hub APIs.\n\nThe returned token is used in the HTTP Authorization header like \u0060Authorization: Bearer {TOKEN}\u0060.\n\nMost Docker Hub APIs require this token either to consume or to get detailed information. For example, to list images in a private repository.\n",
        "operationId": "PostUsers2FaLogin",
        "requestBody": {
          "description": "Login details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Users2FaLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostUsersLoginSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostUsers2FaLoginErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v2/auth/token": {
      "post": {
        "tags": [
          "authentication-api"
        ],
        "summary": "Create access token",
        "description": "Creates and returns a short-lived access token in JWT format for use as a bearer when calling Docker APIs.\n\nIf successful, the access token returned should be used in the HTTP Authorization header like \n\u0060Authorization: Bearer {access_token}\u0060.\n\n_**If your organization has SSO enforced, you must use a personal access token (PAT) instead of a password.**_\n",
        "operationId": "AuthCreateAccessToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthCreateAccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthCreateTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "$ref": "#/components/responses/unauthorized"
          }
        },
        "security": []
      }
    },
    "/v2/access-tokens": {
      "post": {
        "tags": [
          "access-tokens"
        ],
        "summary": "Create personal access token",
        "description": "Creates and returns a personal access token.",
        "operationId": "PostV2AccessTokens",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccessTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccessTokensResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "access-tokens"
        ],
        "summary": "List personal access tokens",
        "description": "Returns a paginated list of personal access tokens.",
        "operationId": "GetV2AccessTokens",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to return.",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "number",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccessTokensResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/access-tokens/{uuid}": {
      "patch": {
        "tags": [
          "access-tokens"
        ],
        "summary": "Update personal access token",
        "description": "Updates a personal access token partially. You can either update the token\u0027s label or enable/disable it.\n",
        "operationId": "PatchV2AccessTokensByUuid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAccessTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchAccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "access-tokens"
        ],
        "summary": "Get personal access token",
        "description": "Returns a personal access token by UUID.",
        "operationId": "GetV2AccessTokensByUuid",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV2AccessTokensByUuid200Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "access-tokens"
        ],
        "summary": "Delete personal access token",
        "description": "Deletes a personal access token permanently. This cannot be undone.\n",
        "operationId": "DeleteV2AccessTokensByUuid",
        "responses": {
          "204": {
            "description": "A successful response."
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "description": "UUID of the personal access token.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/auditlogs/{account}/actions": {
      "get": {
        "tags": [
          "audit-logs"
        ],
        "summary": "List audit log actions",
        "description": "List audit log actions for a namespace to be used as a filter for querying audit log events.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "AuditLogsListAuditActions",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "Namespace to query audit log actions for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuditActionsResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "actions": {
                        "billing": {
                          "actions": [
                            {
                              "name": "plan.upgrade",
                              "description": "Occurs when your organization\u2019s billing plan is upgraded to a higher tier plan.",
                              "label": "Plan Upgraded"
                            },
                            {
                              "name": "plan.downgrade",
                              "description": "Occurs when your organization\u2019s billing plan is downgraded to a lower tier plan.",
                              "label": "Plan Downgraded"
                            },
                            {
                              "name": "plan.seat_add",
                              "description": "Occurs when a seat is added to your organization\u2019s billing plan.",
                              "label": "Seat Added"
                            },
                            {
                              "name": "plan.seat_remove",
                              "description": "Occurs when a seat is removed from your organization\u2019s billing plan.",
                              "label": "Seat Removed"
                            },
                            {
                              "name": "plan.cycle_change",
                              "description": "Occurs when there is a change in the recurring interval that your organization is charged.",
                              "label": "Billing Cycle Changed"
                            },
                            {
                              "name": "plan.downgrade_cancel",
                              "description": "Occurs when a scheduled plan downgrade for your organization is canceled.",
                              "label": "Plan Downgrade Canceled"
                            },
                            {
                              "name": "plan.seat_removal_cancel",
                              "description": "Occurs when a scheduled seat removal for an organization\u2019s billing plan is canceled.",
                              "label": "Seat Removal Canceled"
                            },
                            {
                              "name": "plan.upgrade.request",
                              "description": "Occurs when a user in your organization requests a plan upgrade.",
                              "label": "Plan Upgrade Requested"
                            },
                            {
                              "name": "plan.downgrade.request",
                              "description": "Occurs when a user in your organization requests a plan downgrade.",
                              "label": "Plan Downgrade Requested"
                            },
                            {
                              "name": "plan.seat_add.request",
                              "description": "Occurs when a user in your organization requests an increase in the number of seats.",
                              "label": "Seat Addition Requested"
                            },
                            {
                              "name": "plan.seat_removal.request",
                              "description": "Occurs when a user in your organization requests a decrease in the number of seats.",
                              "label": "Seat Removal Requested"
                            },
                            {
                              "name": "plan.cycle_change.request",
                              "description": "Occurs when a user in your organization requests a change in the billing cycle.",
                              "label": "Billing Cycle Change Requested"
                            },
                            {
                              "name": "plan.downgrade_cancel.request",
                              "description": "Occurs when a user in your organization requests a cancellation of a scheduled plan downgrade.",
                              "label": "Plan Downgrade Cancellation Requested"
                            },
                            {
                              "name": "plan.seat_removal_cancel.request",
                              "description": "Occurs when a user in your organization requests a cancellation of a scheduled seat removal.",
                              "label": "Seat Removal Cancellation Requested"
                            },
                            {
                              "name": "plan.product_change",
                              "description": "Occurs when there is a change in the product that your organization subscribes to.",
                              "label": "Billing Product Changed"
                            }
                          ],
                          "label": "Billing"
                        },
                        "enterprise": {
                          "actions": [
                            {
                              "name": "setting.policy.create",
                              "description": "Details of adding an admin settings policy",
                              "label": "Policy created"
                            },
                            {
                              "name": "setting.policy.update",
                              "description": "Details of updating an admin settings policy",
                              "label": "Policy updated"
                            },
                            {
                              "name": "setting.policy.delete",
                              "description": "Details of deleting an admin settings policy",
                              "label": "Policy deleted"
                            },
                            {
                              "name": "setting.policy.transfer",
                              "description": "Details of transferring an admin settings policy to another owner",
                              "label": "Policy transferred"
                            },
                            {
                              "name": "sso.connection.create",
                              "description": "Details of creating a new org/company SSO connection",
                              "label": "Create SSO Connection"
                            },
                            {
                              "name": "sso.connection.update",
                              "description": "Details of updating an existing org/company SSO connection",
                              "label": "Update SSO Connection"
                            },
                            {
                              "name": "sso.connection.delete",
                              "description": "Details of deleting an existing org/company SSO connection",
                              "label": "Delete SSO Connection"
                            },
                            {
                              "name": "sso.connection.enforcement_toggle",
                              "description": "Details of toggling enforcement on an existing org/company SSO connection",
                              "label": "Enforce SSO"
                            },
                            {
                              "name": "sso.connection.scim_toggle",
                              "description": "Details of toggling SCIM on an existing org/company SSO connection",
                              "label": "Enforce SCIM"
                            },
                            {
                              "name": "sso.connection.scim_token_refresh",
                              "description": "Details of a SCIM token refresh on an existing org/company SSO connection",
                              "label": "Refresh SCIM Token"
                            },
                            {
                              "name": "sso.connection.connection_type_change",
                              "description": "Details of a connection type change on an existing org/company SSO connection",
                              "label": "Change SSO Connection Type"
                            },
                            {
                              "name": "sso.connection.jit_toggle",
                              "description": "Details of a JIT toggle on an existing org/company SSO connection",
                              "label": "Toggle JIT provisioning"
                            }
                          ],
                          "label": "Enterprise"
                        },
                        "offload": {
                          "actions": [
                            {
                              "name": "lease.start",
                              "description": "Details of the started Offload lease.",
                              "label": "Offload lease start"
                            },
                            {
                              "name": "lease.end",
                              "description": "Details of the ended Offload lease.",
                              "label": "Offload lease end"
                            }
                          ],
                          "label": "Offload"
                        },
                        "oidc": {
                          "actions": [
                            {
                              "name": "connection.create",
                              "description": "Details of creating an OIDC connection.",
                              "label": "OIDC connection created"
                            },
                            {
                              "name": "connection.update",
                              "description": "Details of updating an OIDC connection.",
                              "label": "OIDC connection updated"
                            },
                            {
                              "name": "connection.delete",
                              "description": "Details of deleting an OIDC connection.",
                              "label": "OIDC connection deleted"
                            }
                          ],
                          "label": "OIDC"
                        },
                        "org": {
                          "actions": [
                            {
                              "name": "create",
                              "description": "Activities related to the creation of a new organization",
                              "label": "Organization Created"
                            },
                            {
                              "name": "member.add",
                              "description": "Details of the member added to your organization",
                              "label": "Organization Member Added"
                            },
                            {
                              "name": "member.remove",
                              "description": "Details about the member removed from your organization",
                              "label": "Organization Member Removed"
                            },
                            {
                              "name": "member.role.change",
                              "description": "Details about the role changed for a member in your organization",
                              "label": "Member Role Changed"
                            },
                            {
                              "name": "member.invite.send",
                              "description": "Details of the member invited to your organization",
                              "label": "Org Member Invited"
                            },
                            {
                              "name": "team.create",
                              "description": "Activities related to the creation of a team",
                              "label": "Organization Created"
                            },
                            {
                              "name": "team.update",
                              "description": "Activities related to the modification of a team",
                              "label": "Organization Deleted"
                            },
                            {
                              "name": "team.delete",
                              "description": "Activities related to the deletion of a team",
                              "label": "Organization Deleted"
                            },
                            {
                              "name": "team.member.add",
                              "description": "Details of the member added to your team",
                              "label": "Team Member Added"
                            },
                            {
                              "name": "team.member.remove",
                              "description": "Details of the member removed from your team",
                              "label": "Team Member Removed"
                            },
                            {
                              "name": "domain.create",
                              "description": "Details of the single sign-on domain added to your organization",
                              "label": "Single Sign-On domain added"
                            },
                            {
                              "name": "domain.verify",
                              "description": "Details of the single sign-on domain verified for your organization",
                              "label": "Single Sign-On domain verified"
                            },
                            {
                              "name": "domain.delete",
                              "description": "Details of the single sign-on domain removed from your organization",
                              "label": "Single Sign-On domain deleted"
                            },
                            {
                              "name": "domain.auto-provisioning.toggle",
                              "description": "Details of toggling the Auto-Provisioning feature on a domain on or off",
                              "label": "Organization Auto-Provisioning Toggled"
                            },
                            {
                              "name": "settings.update",
                              "description": "Details related to the organization setting that was updated",
                              "label": "Organization Settings Updated"
                            },
                            {
                              "name": "registry_access.enabled",
                              "description": "Activities related to enabling Registry Access Management",
                              "label": "Registry Access Management enabled"
                            },
                            {
                              "name": "registry_access.disabled",
                              "description": "Activities related to disabling Registry Access Management",
                              "label": "Registry Access Management disabled"
                            },
                            {
                              "name": "registry_access.registry_added",
                              "description": "Activities related to the addition of a registry",
                              "label": "Registry Access Management registry added"
                            },
                            {
                              "name": "registry_access.registry_updated",
                              "description": "Details related to the registry that was updated",
                              "label": "Registry Access Management registry updated"
                            },
                            {
                              "name": "registry_access.registry_removed",
                              "description": "Activities related to the removal of a registry",
                              "label": "Registry Access Management registry removed"
                            },
                            {
                              "name": "access_token.create",
                              "description": "Access token created in organization",
                              "label": "Access token created"
                            },
                            {
                              "name": "access_token.update",
                              "description": "Access token updated in organization",
                              "label": "Access token updated"
                            },
                            {
                              "name": "access_token.delete",
                              "description": "Access token deleted in organization",
                              "label": "Access token deleted"
                            },
                            {
                              "name": "customrole.create",
                              "description": "A custom role was created",
                              "label": "Custom role created"
                            },
                            {
                              "name": "customrole.update",
                              "description": "An existing custom role was updated",
                              "label": "Custom role updated"
                            },
                            {
                              "name": "customrole.delete",
                              "description": "A custom role was deleted",
                              "label": "Custom role deleted"
                            },
                            {
                              "name": "securepolicyconfigure.create",
                              "description": "A secure policy configuration was created",
                              "label": "Secure Policy Configuration created"
                            },
                            {
                              "name": "securepolicyconfigure.update",
                              "description": "A secure policy configuration was updated",
                              "label": "Secure Policy Configuration updated"
                            },
                            {
                              "name": "securepolicyconfigure.delete",
                              "description": "A secure policy configuration was deleted",
                              "label": "Secure Policy Configuration deleted"
                            },
                            {
                              "name": "securepolicyclient.create",
                              "description": "A secure policy client was created",
                              "label": "Secure Policy Client created"
                            },
                            {
                              "name": "securepolicyclient.update",
                              "description": "A secure policy client was updated",
                              "label": "Secure Policy Client updated"
                            },
                            {
                              "name": "securepolicyclient.delete",
                              "description": "A secure policy client was deleted",
                              "label": "Secure Policy Client deleted"
                            },
                            {
                              "name": "securepolicyprofile.create",
                              "description": "A secure policy profile was created",
                              "label": "Secure Policy Profile created"
                            },
                            {
                              "name": "securepolicyprofile.update",
                              "description": "A secure policy profile was updated",
                              "label": "Secure Policy Profile updated"
                            },
                            {
                              "name": "securepolicyprofile.delete",
                              "description": "A secure policy profile was deleted",
                              "label": "Secure Policy Profile deleted"
                            }
                          ],
                          "label": "Organization"
                        },
                        "repo": {
                          "actions": [
                            {
                              "name": "create",
                              "description": "Activities related to the creation of a new repository",
                              "label": "Repository Created"
                            },
                            {
                              "name": "update",
                              "description": "Activities related to the modification of a repository",
                              "label": "Repository Updated"
                            },
                            {
                              "name": "delete",
                              "description": "Activities related to the deletion of a repository",
                              "label": "Repository Deleted"
                            },
                            {
                              "name": "change_privacy",
                              "description": "Details related to the privacy policies that were updated",
                              "label": "Privacy Changed"
                            },
                            {
                              "name": "category.updated",
                              "description": "Details related to updating a repository categories",
                              "label": "Categories updated"
                            },
                            {
                              "name": "immutable.tags.updated",
                              "description": "Details related to updating tag immutability of a repository",
                              "label": "Tag immutability updated"
                            },
                            {
                              "name": "tag.push",
                              "description": "Activities related to the tags pushed",
                              "label": "Tag Pushed"
                            },
                            {
                              "name": "tag.delete",
                              "description": "Activities related to the tags deleted",
                              "label": "Tag Deleted"
                            }
                          ],
                          "label": "Repository"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogsListAuditActions429ResponseSchema"
                },
                "examples": {
                  "response": {
                    "value": {
                      "detail": "Rate limit exceeded",
                      "error": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "summary": "Example error response",
                    "value": {
                      "message": "internal error",
                      "errinfo": null
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "summary": "Example error response",
                    "value": {
                      "message": "internal error",
                      "errinfo": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/auditlogs/{account}": {
      "get": {
        "tags": [
          "audit-logs"
        ],
        "summary": "List audit log events",
        "description": "List audit log events for a given namespace.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "AuditLogsListAuditLogs",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "Namespace to query audit logs for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "action name one of [\u0022repo.tag.push\u0022, ...]. Optional parameter to filter specific audit log actions.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "name. Optional parameter to filter audit log events to a specific name. For repository events, this is the name of the repository. For organization events, this is the name of the organization. For team member events, this is the username of the team member.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actor",
            "in": "query",
            "description": "actor name. Optional parameter to filter audit log events to the specific user who triggered the event.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start of the time window you wish to query audit events for.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End of the time window you wish to query audit events for.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page - specify page number. Page number to get.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "page_size - specify page size. Number of events to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuditLogsResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "logs": [
                        {
                          "account": "docker",
                          "action": "repo.tag.push",
                          "name": "docker/example",
                          "actor": "docker",
                          "data": {
                            "digest": "sha256:c1ae9c435032a276f80220c7d9b40f76266bbe79243d34f9cda30b76fe114dfa",
                            "tag": "latest"
                          },
                          "timestamp": "2021-02-19T01:34:35Z",
                          "action_description": "pushed the tag latest with the digest sha256:c1ae9c435032a to the repository docker/example\n"
                        },
                        {
                          "account": "docker",
                          "action": "offload.lease.end",
                          "name": "docker",
                          "actor": "docker",
                          "data": {
                            "lease_id": "l_3EgPuRCjtUqT279CFPOQWcO8zOf",
                            "resource_type": "run_4cpu_8mem",
                            "started_at": "2026-06-04T18:24:21Z",
                            "updated_at": "2026-06-04T18:36:43Z",
                            "org_id": "b908ca6e-b9a9-4a53-a9a5-6bec96f72432",
                            "user_id": "ecae6747-e42c-43cb-925d-cfce1ab32b02"
                          },
                          "timestamp": "2026-06-04T18:36:43Z",
                          "action_description": "offload lease \u0027l_3EgPuRCjtUqT279CFPOQWcO8zOf\u0027 ended, ran for \u002712m22s\u0027"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogsListAuditLogs429ResponseSchema"
                },
                "examples": {
                  "response": {
                    "value": {
                      "detail": "Rate limit exceeded",
                      "error": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "summary": "Example error response",
                    "value": {
                      "message": "internal error",
                      "errinfo": null
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "summary": "Example error response",
                    "value": {
                      "message": "internal error",
                      "errinfo": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/orgs/{name}/settings": {
      "get": {
        "tags": [
          "org-settings"
        ],
        "summary": "Get organization settings",
        "description": "Returns organization settings by name.\n",
        "operationId": "GetV2OrgsByNameSettings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgSettings"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "org-settings"
        ],
        "summary": "Update organization settings",
        "description": "Updates an organization\u0027s settings. Some settings are only used when the organization is on a business subscription.\n\n***Only users with administrative privileges for the organization (owner role) can modify these settings.***\n\nThe following settings are only used on a business subscription:\n- \u0060restricted_images\u0060\n",
        "operationId": "PutV2OrgsByNameSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutV2OrgsByNameSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgSettings"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "description": "Name of the organization.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/orgs/{name}/access-tokens": {
      "post": {
        "tags": [
          "org-access-tokens"
        ],
        "summary": "Create access token",
        "description": "Create an access token for an organization.\n",
        "operationId": "PostV2OrgsByNameAccessTokens",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrgAccessTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrgAccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "org-access-tokens"
        ],
        "summary": "List access tokens",
        "description": "List access tokens for an organization.\n",
        "operationId": "GetV2OrgsByNameAccessTokens",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to return.",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "number",
              "default": 10
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrgAccessTokensResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/orgs/{orgName}/access-tokens/{accessTokenId}": {
      "get": {
        "tags": [
          "org-access-tokens"
        ],
        "summary": "Get access token",
        "description": "Get details of a specific access token for an organization.\n",
        "operationId": "GetV2OrgsByOrgNameAccessTokensByAccessTokenId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrgAccessTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "tags": [
          "org-access-tokens"
        ],
        "summary": "Update access token",
        "description": "Update a specific access token for an organization.\n",
        "operationId": "PatchV2OrgsByOrgNameAccessTokensByAccessTokenId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrgAccessTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOrgAccessTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "org-access-tokens"
        ],
        "summary": "Delete access token",
        "description": "Delete a specific access token for an organization. This action cannot be undone.\n",
        "operationId": "DeleteV2OrgsByOrgNameAccessTokensByAccessTokenId",
        "responses": {
          "204": {
            "description": "Access token deleted successfully"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "accessTokenId",
          "in": "path",
          "description": "The ID of the access token to retrieve",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "a7a5ef25-8889-43a0-8cc7-f2a94268e861"
        }
      ]
    },
    "/v2/namespaces/{namespaceValue}/repositories/{repository}/tags": {
      "get": {
        "tags": [
          "repositories"
        ],
        "summary": "List repository tags",
        "description": "Returns the list of tags for the specified repository.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "ListRepositoryTags",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to get. Defaults to 1.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items to get per page. Defaults to 10. Max of 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "namespaceValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list repository tags",
            "$ref": "#/components/responses/list_tags"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "head": {
        "tags": [
          "repositories"
        ],
        "summary": "Check repository tags",
        "description": "Checks whether the repository has any tags.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "HeadV2NamespacesByNamespaceRepositoriesByRepositoryTags",
        "responses": {
          "200": {
            "description": "Repository contains tags"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "namespaceValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/repository"
        }
      ]
    },
    "/v2/namespaces/{namespaceValue}/repositories/{repository}/tags/{tag}": {
      "get": {
        "tags": [
          "repositories"
        ],
        "summary": "Read repository tag",
        "description": "Returns details for a specific tag in the specified repository.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "GetRepositoryTag",
        "responses": {
          "200": {
            "description": "repository tag",
            "$ref": "#/components/responses/get_tag"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "namespaceValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "head": {
        "tags": [
          "repositories"
        ],
        "summary": "Check repository tag",
        "description": "Checks whether the specified tag exists in the repository.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "HeadV2NamespacesByNamespaceRepositoriesByRepositoryTagsByTag",
        "responses": {
          "200": {
            "description": "Repository tag exists"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "namespaceValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/repository"
        },
        {
          "$ref": "#/components/parameters/tag"
        }
      ]
    },
    "/v2/namespaces/{namespaceValue}/repositories/{repository}/immutabletags": {
      "patch": {
        "tags": [
          "repositories"
        ],
        "summary": "Update repository immutable tags",
        "description": "Updates the immutable tags configuration for this repository.\n\n**Only users with administrative privileges for the repository can modify these settings.**\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "UpdateRepositoryImmutableTags",
        "requestBody": {
          "$ref": "#/components/requestBodies/update_repository_immutable_tags_request"
        },
        "responses": {
          "200": {
            "description": "",
            "$ref": "#/components/responses/update_repository_immutable_tags_response"
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/not_found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "namespaceValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/repository"
        }
      ]
    },
    "/v2/namespaces/{namespaceValue}/repositories/{repository}/immutabletags/verify": {
      "post": {
        "tags": [
          "repositories"
        ],
        "summary": "Verify repository immutable tags",
        "description": "Validates the immutable tags regex passed in the request body and returns a list of tags matching it in this repository.\n\n**Only users with administrative privileges for the repository can call this endpoint.**\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "VerifyRepositoryImmutableTags",
        "requestBody": {
          "$ref": "#/components/requestBodies/immutable_tags_verify_request"
        },
        "responses": {
          "200": {
            "description": "",
            "$ref": "#/components/responses/immutable_tags_verify_response"
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/not_found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "namespaceValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/repository"
        }
      ]
    },
    "/v2/repositories/{namespaceValue}/{repository}/groups": {
      "post": {
        "tags": [
          "repositories"
        ],
        "summary": "Assign a group (Team) to a repository for access",
        "description": "Assigns an organization group (team) to a repository with a specified permission level.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "CreateRepositoryGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RepositoryGroupCreationRequest"
              },
              "example": {
                "group_id": 12345,
                "permission": "write"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Repository group permission created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryGroup"
                },
                "example": {
                  "group_name": "developers",
                  "permission": "write",
                  "group_id": 12345
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "summary": "Example error response",
                    "value": {
                      "message": "bad request",
                      "errinfo": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "namespaceValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/repository"
        }
      ]
    },
    "/v2/namespaces/{namespaceValue}/repositories": {
      "get": {
        "tags": [
          "repositories"
        ],
        "summary": "List repositories in a namespace",
        "description": "Returns a list of repositories within the specified namespace (organization or user).\n\nPublic repositories are accessible to everyone, while private repositories require appropriate authentication and permissions.\n\n\n\n**OAT listing behavior**: an OAT with the \u0060scope-repository-list\u0060 scope sees all repositories including private ones. An OAT without that scope only sees public repositories. This filtering is silent: the response is a normal \u0060200\u0060 with no indication that private repositories were withheld.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "ListNamespaceRepositories",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to get. Defaults to 1.",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of repositories to get per page. Defaults to 10. Max of 100.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter repositories by name (partial match).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Order repositories by the specified field. Prefix with \u0027-\u0027 for descending order.\nAvailable options:\n- \u0060name\u0060 / \u0060-name\u0060: Repository name (ascending/descending)\n- \u0060last_updated\u0060 / \u0060-last_updated\u0060: Last update time (ascending/descending)\n- \u0060pull_count\u0060 / \u0060-pull_count\u0060: Number of pulls (ascending/descending)\n",
            "schema": {
              "$ref": "#/components/schemas/ListNamespaceRepositoriesOrderingParameter"
            }
          },
          {
            "name": "namespaceValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of repositories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRepositoriesResponse"
                },
                "examples": {
                  "repositories_list": {
                    "value": {
                      "count": 287,
                      "next": "https://hub.docker.com/v2/namespaces/docker/repositories?page=2\u0026page_size=2",
                      "previous": null,
                      "results": [
                        {
                          "name": "highland_builder",
                          "namespace": "docker",
                          "repository_type": "image",
                          "status": 1,
                          "status_description": "active",
                          "description": "Image for performing Docker build requests",
                          "is_private": false,
                          "star_count": 7,
                          "pull_count": 15722123,
                          "last_updated": "2023-06-20T10:44:45.459826Z",
                          "last_modified": "2024-10-16T13:48:34.145251Z",
                          "date_registered": "2015-05-19T21:13:35.937763Z",
                          "affiliation": "",
                          "media_types": [
                            "application/octet-stream",
                            "application/vnd.docker.container.image.v1\u002Bjson",
                            "application/vnd.docker.distribution.manifest.v1\u002Bprettyjws"
                          ],
                          "content_types": [
                            "unrecognized",
                            "image"
                          ],
                          "categories": [
                            {
                              "name": "Languages \u0026 frameworks",
                              "slug": "languages-and-frameworks"
                            },
                            {
                              "name": "Integration \u0026 delivery",
                              "slug": "integration-and-delivery"
                            },
                            {
                              "name": "Operating systems",
                              "slug": "operating-systems"
                            }
                          ],
                          "storage_size": 488723114800
                        },
                        {
                          "name": "whalesay",
                          "namespace": "docker",
                          "repository_type": null,
                          "status": 1,
                          "status_description": "active",
                          "description": "An image for use in the Docker demo tutorial",
                          "is_private": false,
                          "star_count": 757,
                          "pull_count": 130737682,
                          "last_updated": "2015-06-19T19:06:27.388123Z",
                          "last_modified": "2024-10-16T13:48:34.145251Z",
                          "date_registered": "2015-06-09T18:16:36.527329Z",
                          "affiliation": "",
                          "media_types": [
                            "application/vnd.docker.distribution.manifest.v1\u002Bprettyjws"
                          ],
                          "content_types": [
                            "image"
                          ],
                          "categories": [
                            {
                              "name": "Languages \u0026 frameworks",
                              "slug": "languages-and-frameworks"
                            },
                            {
                              "name": "Integration \u0026 delivery",
                              "slug": "integration-and-delivery"
                            }
                          ],
                          "storage_size": 103666708
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_ordering": {
                    "summary": "Invalid ordering value",
                    "value": {
                      "fields": {
                        "ordering": [
                          "Invalid ordering value. Must be one of: name, -name, last_updated, -last_updated, pull_count, -pull_count"
                        ]
                      },
                      "text": "Invalid ordering value"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Page not found - occurs when requesting a page number \u0060\u003E1\u0060 that exceeds the available results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "summary": "Example error response",
                    "value": {
                      "message": "not found",
                      "errinfo": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ]
      },
      "post": {
        "tags": [
          "repositories"
        ],
        "summary": "Create a new repository",
        "description": "Creates a new repository within the specified namespace. The repository will be created\nwith the provided metadata including name, description, and privacy settings.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "CreateRepository",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RepoCreationRequest"
              },
              "example": {
                "name": "my-app",
                "namespace": "myorganization",
                "description": "A sample application repository",
                "full_description": "This is a comprehensive description of my application repository that contains additional details about the project.",
                "registry": "docker.io",
                "is_private": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Repository created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryInfo"
                },
                "example": {
                  "name": "my-app",
                  "namespace": "myorganization",
                  "repository_type": "image",
                  "status": 1,
                  "status_description": "Active",
                  "description": "A sample application repository",
                  "is_private": false,
                  "is_automated": false,
                  "star_count": 0,
                  "pull_count": 0,
                  "last_updated": "2025-01-20T10:30:00Z",
                  "date_registered": "2025-01-20T10:30:00Z",
                  "collaborator_count": 0,
                  "hub_user": "myorganization",
                  "has_starred": false,
                  "full_description": "This is a comprehensive description of my application repository that contains additional details about the project.",
                  "media_types": [],
                  "content_types": [],
                  "categories": [],
                  "immutable_tags_settings": {
                    "enabled": false,
                    "rules": []
                  },
                  "storage_size": null,
                  "source": null,
                  "user": "myorganization",
                  "permissions": {
                    "read": true,
                    "write": true,
                    "admin": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "description": "Internal",
            "$ref": "#/components/responses/internal_error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "namespaceValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": []
    },
    "/v2/namespaces/{namespaceValue}/repositories/{repository}": {
      "get": {
        "tags": [
          "repositories"
        ],
        "summary": "Get repository in a namespace",
        "description": "Returns a repository within the specified namespace (organization or user).\n\nPublic repositories are accessible to everyone, while private repositories require appropriate authentication and permissions.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "GetRepository",
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryInfo"
                },
                "example": {
                  "name": "my-app",
                  "namespace": "myorganization",
                  "repository_type": "image",
                  "status": 1,
                  "status_description": "Active",
                  "description": "A sample application repository",
                  "is_private": false,
                  "is_automated": false,
                  "star_count": 0,
                  "pull_count": 0,
                  "last_updated": "2025-01-20T10:30:00Z",
                  "date_registered": "2025-01-20T10:30:00Z",
                  "collaborator_count": 0,
                  "hub_user": "myorganization",
                  "has_starred": false,
                  "full_description": "This is a comprehensive description of my application repository that contains additional details about the project.",
                  "media_types": [],
                  "content_types": [],
                  "categories": [],
                  "immutable_tags_settings": {
                    "enabled": false,
                    "rules": []
                  },
                  "storage_size": null,
                  "source": null,
                  "user": "myorganization",
                  "permissions": {
                    "read": true,
                    "write": true,
                    "admin": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "description": "Internal",
            "$ref": "#/components/responses/internal_error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "namespaceValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "head": {
        "tags": [
          "repositories"
        ],
        "summary": "Check repository in a namespace",
        "description": "Check a repository within the specified namespace (organization or user).\n\nPublic repositories are accessible to everyone, while private repositories require appropriate authentication and permissions.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "CheckRepository",
        "responses": {
          "200": {
            "description": "200 response"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "description": "Internal",
            "$ref": "#/components/responses/internal_error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "namespaceValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/repository"
        }
      ]
    },
    "/v2/orgs/{orgName}/members": {
      "get": {
        "tags": [
          "orgs"
        ],
        "summary": "List org members",
        "description": "Returns a list of members for an organization.\n\n_The following fields are only visible to orgs with insights enabled._\n\n- \u0060last_logged_in_at\u0060\n- \u0060last_seen_at\u0060\n- \u0060last_desktop_version\u0060\n\nTo make visible, please see [View Insights for organization users](https://docs.docker.com/accounts/organization/insights/#view-insights-for-organization-users).\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "GetV2OrgsByOrgNameMembers",
        "responses": {
          "200": {
            "description": "List of members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgMemberPaginated"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/not_found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/search"
        },
        {
          "$ref": "#/components/parameters/page"
        },
        {
          "$ref": "#/components/parameters/page_size"
        },
        {
          "$ref": "#/components/parameters/invites"
        },
        {
          "$ref": "#/components/parameters/type"
        },
        {
          "$ref": "#/components/parameters/role"
        }
      ]
    },
    "/v2/orgs/{orgName}/members/export": {
      "get": {
        "tags": [
          "orgs"
        ],
        "summary": "Export org members CSV",
        "description": "Export members of an organization as a CSV\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "GetV2OrgsByOrgNameMembersExport",
        "responses": {
          "200": {
            "description": "Exported members",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "example": "attachment;filename=\u0022{org_name}-members-{timestamp}.csv\u0022"
              }
            },
            "content": {
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/GetV2OrgsByOrgNameMembersExport200CsvResponseSchema"
                },
                "example": "Name,Username,Email,Type,Role,Teams,Date Joined\nJon Snow,dockeruser,example@docker.com,User,Owner,owners,2021-01-05 21:06:53.5064 \u002B0000 UTC\n"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/not_found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": []
    },
    "/v2/orgs/{orgName}/members/{username}": {
      "put": {
        "tags": [
          "orgs"
        ],
        "summary": "Update org member (role)",
        "description": "Updates the role of a member in the organization.\n***Only users in the \u0022owners\u0022 group of the organization can use this endpoint.***\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "PutV2OrgsByOrgNameMembersByUsername",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutV2OrgsByOrgNameMembersByUsernameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Member role updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgMember"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/not_found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "orgs"
        ],
        "summary": "Remove member from org",
        "description": "Removes the member from the org, ie. all groups in the org, unless they\u0027re the last owner\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "DeleteV2OrgsByOrgNameMembersByUsername",
        "responses": {
          "204": {
            "description": "Member removed successfully"
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/not_found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/username"
        }
      ],
      "x-audience": "public"
    },
    "/v2/orgs/{orgName}/invites": {
      "get": {
        "tags": [
          "invites"
        ],
        "summary": "List org invites",
        "description": "Return all pending invites for a given org, only team owners can call this endpoint\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "GetV2OrgsByOrgNameInvites",
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV2OrgsByOrgNameInvites200Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/not_found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [],
      "x-audience": "public"
    },
    "/v2/orgs/{orgName}/groups": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Get groups of an organization",
        "description": "Get groups of an organization.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "GetV2OrgsByOrgNameGroups",
        "parameters": [
          {
            "description": "Page number (starts on 1).",
            "$ref": "#/components/parameters/page"
          },
          {
            "description": "Number of items (rows) per page.",
            "$ref": "#/components/parameters/page_size"
          },
          {
            "name": "username",
            "in": "query",
            "description": "Get groups for the specified username in the organization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Get groups for the specified group in the organization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV2OrgsByOrgNameGroups200Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/not_found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "Create a new group",
        "description": "Create a new group within an organization.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "PostV2OrgsByOrgNameGroups",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV2OrgsByOrgNameGroupsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgGroup"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [],
      "x-audience": "public"
    },
    "/v2/orgs/{orgName}/groups/{groupName}": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Get a group of an organization",
        "description": "Get a group of an organization.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "GetV2OrgsByOrgNameGroupsByGroupName",
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgGroup"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/not_found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "groups"
        ],
        "summary": "Update the details for an organization group",
        "description": "Update the details for an organization group.\n\nThis operation accepts bearer tokens issued from organization access tokens (OATs). The token must have the required resource access and scopes.\n",
        "operationId": "PutV2OrgsByOrgNameGroupsByGroupName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutV2OrgsByOrgNameGroupsByGroupNameRequest"
              }
            }
          }
        },
[...]
